<table>
  <thead>
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>Price (rounded to 3! decimal digits)</td>
  </tr>
  </thead>
  <% @products.each do |product| %>
    <tbody>
    <tr>
      <td><%= product.id %></td>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
    </tr>
    </tbody>
  <% end %>
</table>
